In [2]:
#import dependencies 
import pandas as pd

In [3]:
#read in crash data csv files

statewide_crash_df = pd.read_csv("Crash_Data/Crash_2020_Statewide.csv")

In [4]:
statewide_crash_df.head()

,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,...,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED
0,1619.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,30.0,03,03,NaN,NaN,NaN
1,113.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,,NaN,NaN,NaN
2,33.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,03,NaN,NaN,NaN
3,105.0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,125.0,10,10,NaN,NaN,NaN
4,5.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,100.0,03,,NaN,NaN,NaN

In [6]:
flag_crash_df = pd.read_csv("Crash_Data/FLAG_2020_Statewide.csv")
flag_crash_df.head()

,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,COMM_VEHICLE,...,UNSIGNALIZED_INT,URBAN,VEHICLE_FAILURE,VEHICLE_TOWED,WET_ROAD,WORK_ZONE,CHILD_PASSENGER,MATURE_DRIVER,YOUNG_DRIVER,RAMP
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [8]:
person_crash_df = pd.read_csv("Crash_Data/PERSON_2020_Statewide.csv")

In [9]:
person_crash_df.head()

,AGE,AIRBAG1,AIRBAG2,AIRBAG3,AIRBAG4,CLOTHING_TYPE,CRN,DRUG_RESULT_CD1,DRUG_RESULT_CD2,DRUG_RESULT_CD3,...,PED_LOCATION,PED_SIGNAL,PERSON_NUM,PERSON_TYPE,RESTRAINT_HELMET,AIRBAG_PADS,SEAT_POSITION,SEX,TRANSPORTED,UNIT_NUM
0,53,00,NaN,NaN,NaN,,2020008647,NaN,NaN,NaN,...,,,1,1.0,3.0,9.0,1,M,N,1
1,45,02,1.0,NaN,NaN,,2020055513,NaN,NaN,NaN,...,,,1,1.0,3.0,8.0,1,F,N,1
2,17,97,97.0,97.0,97.0,,2020094676,NaN,NaN,NaN,...,,,1,1.0,3.0,19.0,1,M,,1
3,26,00,NaN,NaN,NaN,,2020100502,NaN,NaN,NaN,...,,,2,1.0,3.0,9.0,1,M,N,2
4,42,02,NaN,NaN,NaN,,2020068888,NaN,NaN,NaN,...,,,1,1.0,3.0,8.0,1,M,N,1

In [25]:
statewide_cleaned_df = statewide_crash_df[["CRN", "COUNTY", "CRASH_MONTH", "DEC_LAT", "DEC_LONG", "FATAL_COUNT"]]

In [26]:
statewide_cleaned_df.head()

          CRN  COUNTY  CRASH_MONTH  DEC_LAT  DEC_LONG  FATAL_COUNT
0  2019133973      41            5  41.2517  -77.0475            0
1  2020000003       6            1  40.3485  -75.9119            0
2  2020000004       6            1  40.3329  -75.8896            0
3  2020000005       2            1  40.4430  -80.0392            0
4  2020000006      39            1  40.5393  -75.4889            0

In [27]:
flag_cleaned_df = flag_crash_df[["CRN", "ALCOHOL_RELATED", "DRINKING_DRIVER", "UNDERAGE_DRNK_DRV"]]

In [28]:
flag_cleaned_df.head()

          CRN  ALCOHOL_RELATED  DRINKING_DRIVER  UNDERAGE_DRNK_DRV
0  2020077253                0                0                  0
1  2020077257                0                0                  0
2  2020077263                0                0                  0
3  2020080639                0                0                  0
4  2020080864                0                0                  0