In [1]:
#import dependencies 
import pandas as pd

In [2]:
#read in crash data csv files

statewide_crash_df = pd.read_csv("Crash_Data/Crash_2020_Statewide.csv")

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (94,96) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
statewide_crash_df.head()

,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,...,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED
0,1619.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,30.0,03,03,NaN,NaN,NaN
1,113.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,,NaN,NaN,NaN
2,33.0,2,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,03,03,NaN,NaN,NaN
3,105.0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,125.0,10,10,NaN,NaN,NaN
4,5.0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,100.0,03,,NaN,NaN,NaN

In [4]:
flag_crash_df = pd.read_csv("Crash_Data/FLAG_2020_Statewide.csv")
flag_crash_df.head()

,AGGRESSIVE_DRIVING,ALCOHOL_RELATED,ANGLE_CRASH,ATV,BACKUP_CONGESTION,BACKUP_NONRECURRING,BACKUP_PRIOR,BICYCLE,CELL_PHONE,COMM_VEHICLE,...,UNSIGNALIZED_INT,URBAN,VEHICLE_FAILURE,VEHICLE_TOWED,WET_ROAD,WORK_ZONE,CHILD_PASSENGER,MATURE_DRIVER,YOUNG_DRIVER,RAMP
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [7]:
statewide_cleaned_df = statewide_crash_df[["CRN", "COUNTY", "CRASH_MONTH", "DEC_LAT", "DEC_LONG", "FATAL_COUNT"]]

In [8]:
statewide_cleaned_df.head()

          CRN  COUNTY  CRASH_MONTH  DEC_LAT  DEC_LONG  FATAL_COUNT
0  2019133973      41            5  41.2517  -77.0475            0
1  2020000003       6            1  40.3485  -75.9119            0
2  2020000004       6            1  40.3329  -75.8896            0
3  2020000005       2            1  40.4430  -80.0392            0
4  2020000006      39            1  40.5393  -75.4889            0

In [9]:
flag_cleaned_df = flag_crash_df[["CRN", "ALCOHOL_RELATED", "DRINKING_DRIVER", "UNDERAGE_DRNK_DRV"]]

In [10]:
flag_cleaned_df.head()

          CRN  ALCOHOL_RELATED  DRINKING_DRIVER  UNDERAGE_DRNK_DRV
0  2020077253                0                0                  0
1  2020077257                0                0                  0
2  2020077263                0                0                  0
3  2020080639                0                0                  0
4  2020080864                0                0                  0

In [11]:
merged_crash_df = pd.merge(statewide_cleaned_df, flag_cleaned_df, on="CRN",how="outer")

In [12]:
merged_crash_df.head(40)

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV
0,2019133973,41,5,41.2517,-77.0475,0,0,0,0
1,2020000003,6,1,40.3485,-75.9119,0,0,0,0
2,2020000004,6,1,40.3329,-75.8896,0,0,0,0
3,2020000005,2,1,40.4430,-80.0392,0,0,0,0
4,2020000006,39,1,40.5393,-75.4889,0,1,1,0
5,2020000012,64,1,40.3889,-79.7306,0,0,0,0
6,2020000013,14,1,40.7812,-77.8521,0,1,1,1
7,2020000014,2,1,40.4806,-79.9423,0,1,1,0
8,2020000016,2,1,40.4426,-80.0297,0,1,1,0
9,2020000019,64,1,40.1392,-79.8424,0,0,0,0
10,2020000020,2,1,40.4640,-79.8341,0,0,0,0
11,2020000021,67,1,39.9836,-75.1601,0,0,0,0
12,2020000023,2,1,40.4408,-80.0068,0,0,0,0
13,2020000028,6,1,40.3384,-75.9217,0,0,0,0
14,2020000031,2,1,40.4695,-79.8770,0,0,0,0
15,2020000032,23,1,39.9421,-75.2686,0,0,0,0
16,2020000034,9,1,40.2173,-74.7816,0,1,1,0
17,2020000036,67,1,39.9532,-75.1950,0,0,0,0
18,2020000038,21,1,40.2405,-76.9266,0,0,0,0
19,2020000040,2,1,40.3850,-79.8627,0,0,0,0
20,2020000041,46,1,40.1294,-75.3283,0,0,0,0
21,2020000044,2,1,40.2190,-79.8449,0,1,1,0
22,2020000046,2,1,40.4086,-79.7739,0,0,0,0
23,2020000047,9,1,40.4215,-75.3460,0,0,0,0
24,2020000061,64,1,40.3871,-79.7155,0,0,0,0
25,2020000064,67,1,39.9490,-75.2401,0,0,0,0
26,2020000065,67,1,39.9488,-75.2126,0,0,0,0
27,2020000066,67,1,39.9505,-75.2269,0,0,0,0
28,2020000069,2,1,40.3452,-80.1668,0,0,0,0
29,2020000071,2,1,40.3525,-79.8433,0,0,0,0
30,2020000074,2,1,40.3530,-79.8413,0,0,0,0
31,2020000089,7,1,40.5195,-78.3898,0,0,0,0
32,2020000090,42,1,41.9711,-78.5962,0,0,0,0
33,2020000128,51,1,41.3501,-74.7653,0,0,0,0
34,2020000132,23,1,39.8343,-75.3885,0,0,0,0
35,2020000135,64,1,40.6169,-79.6347,0,1,1,1
36,2020000136,15,1,40.0536,-75.4280,0,1,1,0
37,2020000144,46,1,40.2259,-75.3491,0,0,0,0
38,2020000147,6,1,40.3528,-75.9196,0,0,0,0
39,2020000167,28,1,39.9427,-77.6580,0,0,0,0

In [13]:
merged_crash_df["CRN"].count()

104493

In [14]:
#no_nulls = merged_crash_df.dropna()

In [15]:
#no_nulls["CRN"].count()

In [16]:
zero = [0]
alcohol_related_df = merged_crash_df[merged_crash_df["ALCOHOL_RELATED"].isin(zero)==False]

In [17]:
alcohol_related_df.head(50)

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV
4,2020000006,39,1,40.5393,-75.4889,0,1,1,0
6,2020000013,14,1,40.7812,-77.8521,0,1,1,1
7,2020000014,2,1,40.4806,-79.9423,0,1,1,0
8,2020000016,2,1,40.4426,-80.0297,0,1,1,0
16,2020000034,9,1,40.2173,-74.7816,0,1,1,0
21,2020000044,2,1,40.2190,-79.8449,0,1,1,0
35,2020000135,64,1,40.6169,-79.6347,0,1,1,1
36,2020000136,15,1,40.0536,-75.4280,0,1,1,0
44,2020000255,49,1,40.7712,-76.6801,0,1,1,0
48,2020000263,15,1,39.9989,-75.5404,0,1,1,0
50,2020000268,26,1,40.0184,-79.6003,0,1,1,0
51,2020000269,46,1,40.1364,-75.3050,0,1,1,0
53,2020000273,67,1,39.9209,-75.1770,0,1,1,0
56,2020000285,6,1,40.3551,-76.1365,0,1,1,0
58,2020000291,46,1,40.1244,-75.3666,0,1,1,0
65,2020000304,49,1,40.8623,-76.7782,0,1,1,1
110,2020000461,14,1,40.8703,-77.7522,0,1,1,0
118,2020000474,2,1,40.3835,-80.0390,0,1,1,0
136,2020000583,23,1,39.8948,-75.3051,0,1,1,0
148,2020000603,24,1,41.4424,-78.5039,0,1,1,0
157,2020000629,40,1,41.2659,-75.8916,0,1,1,0
164,2020000640,9,1,40.1914,-74.8237,0,1,1,0
199,2020000779,15,1,39.9889,-75.6237,0,1,1,1
204,2020000785,2,1,40.4358,-80.0685,0,1,1,0
250,2020000938,22,1,40.2680,-76.8927,0,1,0,0
253,2020000941,2,1,40.6423,-80.0746,0,1,1,0
266,2020000969,2,1,40.3355,-79.9833,0,1,1,0
269,2020000977,2,1,40.4680,-79.9036,0,1,1,0
273,2020000986,2,1,40.3732,-79.8482,0,1,1,0
294,2020001016,62,1,NaN,NaN,0,1,1,0
318,2020001124,31,1,40.5644,-77.9818,0,1,1,0
321,2020001127,17,1,40.8309,-78.7971,0,1,1,0
328,2020001136,49,1,40.8905,-76.7924,0,1,1,0
342,2020001161,2,1,40.3249,-79.7914,0,1,1,0
357,2020001195,2,1,40.4237,-79.9686,0,1,1,0
360,2020001224,10,1,40.9343,-79.9018,0,1,1,0
379,2020001247,23,1,39.9605,-75.2828,0,1,1,0
380,2020001248,7,1,40.5524,-78.3461,0,1,1,0
392,2020001263,9,1,40.2436,-75.0083,0,1,1,0
411,2020001285,2,1,40.3283,-79.8884,0,1,1,0
429,2020001313,10,1,40.8537,-79.9331,0,1,1,0
477,2020001429,67,1,40.0195,-75.1723,0,1,1,1
483,2020001448,9,1,40.1873,-74.8886,0,1,1,0
502,2020001477,36,1,40.0390,-76.3110,0,1,1,0
506,2020001484,46,1,40.1548,-75.3597,0,1,1,0
521,2020001521,15,1,40.0107,-75.8627,0,1,1,0
535,2020001538,10,1,40.8527,-79.9016,0,1,1,0
543,2020001554,36,1,40.2505,-76.1506,0,1,1,0
553,2020001569,9,1,40.2610,-75.0996,0,1,1,0
568,2020001587,45,1,41.1739,-75.4183,0,1,1,0

In [18]:
alcohol_related_df["CRN"].count()

7472

In [19]:
#read in csv with county names and numbers


counties_df = pd.read_csv("Crash_Data/county.csv")
counties_df

    COUNTY ID   COUNTY NAME
0           1         ADAMS
1           2     ALLEGHENY
2           3     ARMSTRONG
3           4        BEAVER
4           5       BEDFORD
..        ...           ...
62         63         WAYNE
63         64  WESTMORELAND
64         65       WYOMING
65         66          YORK
66         67  PHILADELPHIA

[67 rows x 2 columns]

In [21]:
#rename column before merge

counties_df.rename(columns={"COUNTY ID": "COUNTY"}, inplace=True)
counties_df.head()

   COUNTY COUNTY NAME
0       1       ADAMS
1       2   ALLEGHENY
2       3   ARMSTRONG
3       4      BEAVER
4       5     BEDFORD

In [24]:
#merge alcohol_related_df with counties_df to add County Name

dui_df = alcohol_related_df.merge(counties_df, how="left", on="COUNTY")
dui_df

,CRN,COUNTY,CRASH_MONTH,DEC_LAT,DEC_LONG,FATAL_COUNT,ALCOHOL_RELATED,DRINKING_DRIVER,UNDERAGE_DRNK_DRV,COUNTY NAME
0,2020000006,39,1,40.5393,-75.4889,0,1,1,0,LEHIGH
1,2020000013,14,1,40.7812,-77.8521,0,1,1,1,CENTRE
2,2020000014,2,1,40.4806,-79.9423,0,1,1,0,ALLEGHENY
3,2020000016,2,1,40.4426,-80.0297,0,1,1,0,ALLEGHENY
4,2020000034,9,1,40.2173,-74.7816,0,1,1,0,BUCKS
...,...,...,...,...,...,...,...,...,...,...
7467,2021037437,45,11,41.0155,-75.1998,0,1,1,0,MONROE
7468,2020091040,4,10,40.4934,-80.3452,0,1,1,0,BEAVER
7469,2020107112,46,12,40.1822,-75.1627,1,1,1,0,MONTGOMERY
7470,2020112679,2,12,40.3915,-79.7759,0,1,1,0,ALLEGHENY
7471,2020087835,8,9,41.9468,-76.8335,0,1,1,0,BRADFORD

In [25]:
dui_df.to_csv("Crash_Data/dui_csv",index=False,header=True)